<h1>Editing Book</h1>
    <%= form_with model: book, url: '/books', method: :post do |f| %>
      <div class="field">
        <%= f.label :Title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :Opinion %><br>
        <%= f.text_field :body %>
      </div><br>

    <%= link_to 'Update Book', book_path , class: "btn btn-success" %>

    <%= link_to "Show", book_path %>
    <p> | </p>
    <%= link_to "Back", books_path %>

<% end %>