<!--Book detail(.com/books/数字)-->
<%= render "/layouts/leftbar" , book:@book, user:@user %>
<div class="col-md-8" offset-md-l>  <!--"col-lg-8"→"col-md-8" offset-md-lに変更-->

<!--他のユーザの投稿を変更しない-->
  <% if @user.id != current_user.id %>
  <table class="table table-striped">
    <tbody>
        <h2>Book detail</h2>
          <tr><td>
            <!--投稿ユーザー画像-->
            <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <!-- <p>ユーザーネーム-->
            <%= @book.user.name %>
            <% end %></td>
            <!--Title-->
            <td><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %></td>
            <!--Opinion-->
            <td><%= @book.body %></td>
          </tr>
    </tbody>
  </table>

<!--自分の投稿を変更する-->
  <% else %>
  <table class="table table-striped">
    <tbody>
        <h2>Book detail</h2>
            <tr><td>
            <!--投稿ユーザー画像-->
              <%= link_to user_path(@book.user) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <!-- <p>ユーザーネーム-->
              <%= @book.user.name %>
              <% end %></td>
            <!--Title-->
              <td><%= link_to book_path(@book.id) do %>
              <%= @book.title %>
              <% end %></td>
            <!--Opinion-->
              <td><%= @book.body %></td>

                  <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
            </tr>
    </tbody>
  </table>
  <% end %>
</div>
