<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<body>
  <header>
    <% if user_signed_in? %>
    <div>
      <%= link_to '投稿フォーム', new_book_path %>
    </div>
    <div>
      <%= link_to 'マイページ', user_path(current_user.id) %>
    </div>
    <div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
    <% else %>
    <br>
    <div>
        <%= link_to "Bookers", top_path %>
    </div>
    <div>
        <%= link_to "Home", top_path %>
    </div>
    <div>
        <%= link_to "About", about_path %>
    </div>
    <div>
        <%= link_to "Log in", new_user_session_path %>
    </div>
    <div>
        <%= link_to "Sign up", new_user_registration_path %>
    </div>

    <% end %>
  </header>
  <%= yield %>
</body>
</html>
